

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    margin-top: 10px;
    color: #f0f0f0;
}

.fibonacci {
    background-image: url("../img/wp4394774-fibonacci-wallpapers.jpg");
    border: 4px solid #f0f0f0;
    filter: drop-shadow(0px 5px 3px #44bb68);
}

button {
    margin-top: 10px;
    background-color: #4cacaf;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #455aa0;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#fibonacciOutput {
    color: #f0f0f0;
    font-size: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
}